@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: red;
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
  font-family: "Poppins", serif;
}

.header {
  background-color: white;
}

.sidebar {
  background-color: #0284c7;
  grid-row: 1 / -1;
  padding: 1rem;
  color: white;
  display: grid;
  grid-template: 1fr 5fr 10fr / 1fr;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.menu.primary {
  align-self: center;
}

.main {
  background-color: #f0f9ff;
}

.header {
  display: flex;
  flex-direction: column;
}

.nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  padding: 0.5rem 3rem;
}

.input-box {
  flex: 3;
  display: flex;
  gap: 1rem;
}

.input-box input {
  width: 100%;
  border-radius: 0.25rem;
  border: none;
  background-color: #f0f9ff;
}

.avatar-box {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
}

.avatar {
  width: 1.5rem;
  border-radius: 50%;
}

.header-info {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 3rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.profile-pic {
  width: 3rem;
  border-radius: 50%;
}

.profile-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #0284c7;
  color: white;
  font-family: inherit;
  cursor: pointer;
}

.icon {
  width: 1.5rem;
  cursor: pointer;
}

.main {
  display: grid;
  grid-template: 1fr/ 2.5fr 1fr;
  padding: 1rem;
  gap: 1rem;
}

.projects {
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cards {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.icons {
  align-self: flex-end;
  display: flex;
  gap: 0.5rem;
}

.side-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.info-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.anno-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.anno-box, .trend-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  gap: 1.5rem;
  font-size: 0.75rem;
  border-radius: 0.5rem;
}

.trend-box {
  font-size: 0.75rem;
}

.trend-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.trend-text {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.trend-list img {
  width: 2rem;
  border-radius: 50%;
}